*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 95%)
    /* font-family: sans-serif; */
}

main {
    /* margin: auto; */
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.left {
    background-color: hsl(31, 77%, 52%);
    padding: 25px;
    border-radius: 10px 0px 0px 10px;
}

.center {
    background-color: hsl(184, 100%, 22%);
    padding: 25px;
}

.right {
    background-color: hsl(179, 100%, 13%);
    padding: 25px;
    border-radius: 0px 10px 10px 0px;
}

button {
    background-color: hsl(0, 0%, 95%);
    height: 35px;
    border: none;
    border-radius: 20px;
    width: 110px;
    font-family: "Lexend Deca";
}

.btn-left {
    color: hsl(31, 77%, 52%);
    /* font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; */
}
.btn-center {
    color: hsl(184, 100%, 22%);
    /* font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; */
}
.btn-right {
    color: hsl(179, 100%, 13%);
    /* font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; */
}

object {
    padding-bottom: 20px;
}

h2 {
    padding-bottom: 20px;
    /* font-family: 'Oswald'; */
    letter-spacing: 1.5px;
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display";
    font-weight: 700;
    /* font-size: 22px; */
}

p {
    padding-bottom: 70px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    /* font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; */
    font-family: "Lexend Deca";
    font-weight: 400;
}
